<%-include("layouts/success")-%>
<div class="container-fluid success">
  <h3 id="welcome">welcome</h3>
  <p id="kingname">
    <%=name%>
  </p>
  <p id="wishes">
    <%=wishes%>
  </p>
  <img src="../images/smartphone.png" alt="" id="phone">
  <img src="../images/smile3.png" id="smile" style="width:60px">
</div>

<div class="container-fluid row sub text-center">
  <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
    <img src="../images/conversation.png" style="width:64px">
    <div class="card-body col">
      Create Your Daily Slamer Posts Here
      It should Be Anything Your Happy moments
      Anything Peotric And Any Event Info What Nothing We Can Whatever U want
      Invite Your Friends With Your Id To get Access TO write Your Slam Book
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <img src="../images/share.png">
    <div class="card-body col">
      Share Your Composed Post with all the
      other people who are really intrested to read and get a
      as many likes as possible and also associate with other people
      intresting things to connect your self with other slamers
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
    <img src="../images/like.png">
    <div class="card-body col ">
      good composed posts would get good number of likes
      the post which can get highest number of likes
      can get [200/-] paytm Case prize the contest results
      winner would be announced for every two weeks
    </div>
  </div>
</div>
<div class="bg4">
  <div class="timeline">
    <div class="container1 left">
      <div class="content">
        <h2 style="color:#000;text-decoration: underline">Quote 1</h2>
        <p>True friendship multiplies the good in life and divides its evils. Strive to have friends, for life without
          friends is like life on a desert island... to find one real friend in a lifetime is good fortune; to keep him
          is a blessing.
        </p>
      </div>
    </div>
    <div class="container1 right">
      <div class="content">
        <h2 style="color:#000;text-decoration: underline">Quote 2</h2>
        <p>The strong bond of friendship is not always a balanced equation; friendship is not always about giving and
          taking in equal shares. Instead, friendship is grounded in a feeling that you know exactly who will be there
          for you when you need something, no matter what or when.
        </p>
      </div>
    </div>
    <div class="container1 left">
      <div class="content">
        <h2 style="color:#000;text-decoration: underline">Quote 3</h2>
        <p>“Friendship is the hardest thing in the world to explain. It’s not something you learn in school. But if you
          haven’t learned the meaning of friendship, you really haven’t learned anything.”
        </p>
      </div>
    </div>
  </div>

</div>
<%-include("layouts/footer")-%>